<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>

<title>Profile</title>

</head>
<body class="mx-auto">
	<div class="container border border-dark mx-auto">

		<!-- Banner -->
		<div class="row align-items-center bg-dark">
			<p class="text-center text-white my-2">Pay My Buddy</p>
		</div>
		<div class="row">
			<div class="col-3 green_context rounded">Pay
				My Buddy</div>
			
			<div class="col-9">
				<ul class="nav justify-content-end">
					<li class="mx-1"><a th:href="@{home}">Home</a></li>
					<li class="mx-1"><a th:href="@{transfer}">Transfer</a></li>
					<li class="mx-1 text-primary">Profile</li>
					<li class="mx-1"><a th:href="@{contact}">Contact</a></li>
					<li class="mx-1"><a th:href="@{logout}">Log off</a></li>
				</ul>
			</div>
		</div>
		<div class="bg-light">
			<span class="mx-1">
				<a th:href="@{home}">Home /</a>
			</span>
			<span class="mx-1">Profile</span>
		</div>

		<!-- Profile box -->
		<div class="col-md-6 col-xs-12 border border-secondary rounded mx-auto my-4">
			<!-- Identity -->
			<table class="table">
				<thead>
					<tr class="green_context">
						<th colspan="2">Identity</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>First Name :</td>
						<td th:text="${user.firstName}">First Name</td>
					</tr>
					<tr>
						<td>Last Name :</td>
						<td th:text="${user.lastName}">Last Name</td>
					</tr>
				</tbody>
			</table>
			<!-- Login details -->
			<table class="table">
				<thead>
					<tr class="green_context">
						<th colspan="2">Login details</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Email :</td>
						<td th:text="${user.email}">Email</td>
					</tr>
					<tr>
						<td>Password :</td>
						<td >&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;</td>
					</tr>
				</tbody>
			</table >
			<!-- Bank -->
			<table class="table">
				<thead>
					<tr class="green_context">
						<th colspan="2">Bank</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Bank name :</td>
						<td th:text="${user.bank}">Bank name</td>
					</tr>
					<tr>
						<td>iban :</td>
						<td th:text="${user.iban}">iban</td>
					</tr>
				</tbody>
			</table>			
			
			<!-- Modify button -->
			<div class="green_context rounded mx-auto my-2 w-50">
				<a class="text-white" th:href="@{modify}">Modify</a>
			</div>
		</div>

	</div>

	<!-- Bootstrap JS bundle -->
	<script	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>